*.pyc
*test*
dataset_generation/data/Pedagogy_docs
dataset_generation/data/sample_data
venv/
llama3.1_finetuning/training_files/trained_models/
*.sif
*.log
llama3.1_finetuning/output/
*output*.txt
*error*.txt
llama3.1_dpo/slurm_jobs/